@import "../globals/font-mixin.scss";

.container {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.titleSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.title {
  @include font-XXXL-B;
  color: var(--text-blue);
  white-space: nowrap;
}

.divider {
  width: 500px;
  height: 6px;
  background-color: var(--dark-blue-color);
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.imageWrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.iconGroup {
  display: flex;
  gap: 8px;
}

.iconButton {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.imageGuide {
  width: 800px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  @include font-S-B;
  font-size: 30px;
  background-color: var(--gray-100);
  color: var(--gray-400);

  &::placeholder {
    color: var(--gray-400);
  }
}

.formBox {
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;

  background-image: 
      linear-gradient(90deg, var(--dark-blue-color) 65px, transparent 65px),
      linear-gradient(90deg, var(--dark-blue-color) 65px, transparent 65px),
      linear-gradient(0deg, var(--dark-blue-color) 65px, transparent 65px),
      linear-gradient(0deg, var(--dark-blue-color) 65px, transparent 65px);

  background-position: 
      0 0,
      0 100%,
      0 0,
      100% 0;

  background-size: 
      67px 3px,
      67px 7px,
      3px 67px,
      3px 67px;

  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}


.boxTitle {
  @include font-M-B;
  color: var(--text-blue);
}
.techStackBox {
  min-height: 200px;  
}
.textarea {
  width: 952px;
  height: 100px;
  border: 1px solid var(--gray-300);
  background-color: var(--gray-100);
  @include font-XXS-B;
  border-radius: 8px;
  resize: none;
  padding: 15px 0 0 12px;

  &::placeholder {
    color: var(--gray-400);
  }
}

.input {
  width: 952px;
  height: 32px;
  border: 1px solid var(--gray-300);
  background-color: var(--gray-100);
  @include font-XXS-B;
  border-radius: 8px;
  padding: 12px;

  &::placeholder {
    color: var(--gray-400);
  }
}

.buttonWrapper {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}