.toolbar {
    display: flex;
    gap: 16px;
    padding: 0 8px;
    background-color: var(--background);
    width: 816px;
    height: 48px;
  }
  
  .toolGroup {
    display: flex;
    gap: 13px;
    padding-right: 16px;
    position: relative;
  
    &:not(:last-child) {
      padding-right: 0; 
  
      &::after {
        content: '';
        position: absolute;
        right: -8px; 
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 20px;
        background-color: var(--gray-300);
      }
    }
  }
  
  
  .toolButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: none;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--text-blue);
  
    &:hover {
      background-color: var(--gray-100);
    }
  }