@import "../../globals/font-mixin.scss";

.tagList {
    display: flex;
    gap: 16px;
    flex-direction: row;
    flex-wrap: wrap; 
    width: 100%;  
  }

  // 에디터 페이지 내부의 tagList에만 적용
:global([class*="editorSection"]) .tagList {
  gap: 8px !important;
}
  
  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 66px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 999px;
    @include font-XXS-B;
    border: 1px solid var(--text-blue);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
  }
  
  .checkedTag {
    background-color: var(--dark-blue-color);
    color: var(--text-white);
  }
  
  .hiddenCheckbox {
    display: none;
  }
 