@import "../../../globals/font-mixin.scss";

.actionButtonsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .rightButtons {
    display: flex;
    margin-left: auto;
    gap: 8px;
  }
  
  .exitButton {
    width: 84px;
    height: 40px;
    border-radius: 6px;
    background-color: var(--text-blue);
    color: var(--text-white);
    @include font-XXS-B;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
  
    &:hover {
      background-color: var(--gray-700);
    }
  }
  
  .draftButton, .submitButton {
    width: 80px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    @include font-XXS-B;
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .draftButton {
    background-color: var(--gray-200);
    color: var(--text-black);
    border: none;
  
    &:hover {
      background-color: var(--dark-blue-color);
      color: var(--text-white);
    }
  }
  
  .submitButton {
    background-color: var(--primary-color);
    color: var(--text-black);
    border: 1px solid var(--primary-color);
  
    &:hover {
      background-color: var(--secondary-color);
      color: var(--primary-color);
      border-color: var(--secondary-color);
    }
  }