@import "../../globals/font-mixin.scss";

.sidebar {
  width: 200px;
  border-right: 1px solid var(--border-color);
  text-align: center;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.menuItem {
  @include font-XXS-B;
  padding: 12px;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    background-color: var(--gray-color);
  }

  &.active {
    background-color: var(--secondary-color);
    color: var(--text-white);
  }
}
