@import '../globals/font-mixin.scss';

/* styles/header.module.scss */
.footer {
  width: 100%;
  height: 250px;
  padding: 120px ;
  background-color: var(--secondary-color);
  flex-shrink: 0;  /* header가 줄어들지 않도록 설정 */
  min-width: 320px;
  position: relative; 
}

.footerContent {
  max-width: 100%;
  margin: 0;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  white-space: nowrap; 
}

.logo {
    @include font-XXL-B;
    color: var(--primary-color);
    align-self: flex-start;
<<<<<<< HEAD
    flex-wrap: nowrap;
  
=======
>>>>>>> dev
  }


.nav {
  display: flex;
  gap: 24px;
  align-self: flex-end;
  flex-wrap: nowrap;

  a{
    text-decoration: none;
    
    span {
      @include font-XXS-B;
      color: var(--primary-color);
      transition: color 0.1s ease;
      white-space: nowrap;

      &:hover {
        opacity: 0.8;
      }
      }
    }
  }