.chatContainer {
  display: flex;
  flex-direction: row;
  width: 631px;
  height: 676px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: fixed; // 드래그 가능하게 설정
  bottom: 100px; // 초기 위치
  right: 20px;
  z-index: 1000;
  cursor: grab;
  user-select: none; // 텍스트 선택 방지
}

.chatContainer:active {
  cursor: grabbing;
}

.chatContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.noRoomSelected {
  margin: auto;
  font-size: 16px;
  color: #888;
}