@import "../../globals/font-mixin.scss";

.paginationWrapper {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.pageCounter {
  display: flex;
  justify-content: flex-end;
  @include font-XXXS-R;
  color: var(--gray-600);
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.iconGroup {
  display: flex;
}

.numberGroup {
  display: flex;
}

.pageButton {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.iconButton {
    border: none;
    img {
      width: 40px;
      height: 40px;
    }
  }

  &:not(.iconButton) {
    color: var(--text-primary);
    font-size: 16px;
    background-color: var(--background);
    border: 1px solid var(--gray-300);
    border-radius: 6px;

    &:hover {
      background-color: var(--gray-200);
    }

    &.activePage {
      background-color: var(--text-blue);
      color: var(--text-white);
      border: none;

      &:hover {
        background-color: var(--text-blue);
      }
    }
  }
}
    