@import "../../globals/font-mixin.scss";

.inputBox {
  display: flex;
  flex-direction: column;
  width: 350px;
  border-radius: 5px;
  align-content: center;
  gap: 3px; // 간격을 조정
  margin-bottom: 20px;
}

.inputWrapper {
  display: flex; // 입력 필드와 버튼을 가로로 정렬
  align-items: center; // 세로 중앙 정렬
  width: 100%;
  border: 1px solid #ccc; // 입력 박스 테두리
  border-radius: 5px;
  background-color: #fff;
  @include font-XXXS-M;

  input {
    flex: 1; // 입력 필드가 남은 공간을 차지
    border: none; // 개별 테두리 제거
    margin: 10px;
    @include font-XXXS-M;
    border-radius: 5px 0 0 5px; // 왼쪽 테두리만 둥글게
    outline: none; // 포커스 시 기본 아웃라인 제거
  }

  .toggleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: none;
    background: none;
    cursor: pointer;

    img {
      display: block;
      width: 20px;
      height: 20px;
    }
  }
}

.errorMessage {
  @include font-XXXXS-M;
  color: #fe7f7f;

  &.hidden {
    opacity: 0; // 숨김 상태
  }
}
