@import "../../globals/font-mixin.scss";

.editButton {
  width: 60px;
  height: 40px;
  background-color: var(--dark-blue-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--text-white);  

  @include font-XS-M;
  
  &:hover {
    background-color: var(--gray-700); 
    color: var(--text-white);
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}