.container {
  display: flex;
  margin: 32px 120px;
}

.content {
  background-color: var(--background-gray-color);
  border: 1px solid var(--dark-color);
  min-width: 1201px;
  min-height: 866px;
  padding: 24px;
}
