@import "../../globals/font-mixin.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginTitle {
  @include font-XXL-B;
  margin-top: 60px;
  margin-bottom: 60px;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.links {
  display: flex;
  gap: 8px;
}

.link {
  @include font-XXXXS-M;
  color: var(--gray-800); // 링크 기본 색상

  &:hover {
    color: var(--text-black); // 호버 시 색상 변경
  }
}

.divider {
  color: var(--border-color); // 구분선 색상
}
