@import "../../globals/font-mixin.scss";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.passwordTitle {
  @include font-XXL-B;
  padding: 30px;
}

.passwordBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.passwordInputGroup {
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  > div {
    flex: 0.78;
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.buttonBox {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  gap: 10px;

  .loginButton {
    width: 215px;
    height: 48px;
  }

  .cancelButton {
    text-align: center;
    background-color: var(--background-red-color);
    width: 215px;
    height: 48px;
    @include font-XXS-B;
    align-content: center;
    color: var(--text-white);
    border-radius: 10px;
    margin-bottom: 20px;

    &:hover {
      background-color: var(--text-danger-light-color);
    }
  }
}

.errorMessage {
  color: var(--background-red-color);
}
