@import "../../globals/font-mixin.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.passwordTitle {
  @include font-XXL-B;
  margin-bottom: 60px;
}

.passwordBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wideInput {
  min-width: 100%; // 최소 너비는 자동으로 설정
}

.passwordInputGroup {
  display: flex;
  gap: 10px;

  .passwordCheckde {
    width: 100%;
  }
}

.buttonBox {
  display: flex;
  gap: 20px;

  .loginButton {
    width: 215px;
    height: 48px;
  }

  .cancelButton {
    text-align: center;
    background-color: var(--background-red-color);
    width: 215px;
    height: 48px;
    @include font-XXS-B;
    align-content: center;
    color: var(--text-white);
    border-radius: 10px;

    &:hover {
      background-color: var(--text-danger-light-color);
    }
  }
}

.errorMessage {
  color: var(--background-red-color);
}
